<%= form_with(model: notification) do |form| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
        <% notification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-2">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Enter the title" %>
  </div>
  
  <div class="field mt-2">
    <%= form.label :file, class: "form-label" %>
    <%= form.file_field :file, class: "form-control" %>
  </div>

  <div class="field mt-2">
    <%= form.label :batch_id %>
    <%= form.collection_select :batch_id, current_user.college.batches, :id, :year, {:include_blank => ' -- Select -- '}, {:class => 'form-control'} %>
  </div>

  <div class="field mt-2">
    <%= form.label :regulation_id %>
    <%= form.collection_select :regulation_id, current_user.college.regulations, :id, :name, {:include_blank => ' -- Select -- '}, {:class => 'form-control'} %>
  </div>

  <div class="field mt-2">
    <%= form.label :department_id %>
    <%= form.collection_select :department_id, current_user.college.departments, :id, :name, {:include_blank => ' -- Select -- '}, {:class => 'form-control'} %>
  </div>

  <div class="actions mt-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
