<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Mobile number</th>
            <th>Department</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <% users.each do |user| %>
            <tr>
            <td><%= user.name %></td>
            <td><%= user.mobile_number %></td>
            <td><%= user.department.short_form %></td>
            <td><%= link_to 'Update', edit_user_path(user) %></td>
            <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>