<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
        <% user.errors.each do |error| %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.full_message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% end %>
    </div>
  <% end %>

  <div class="field mt-2">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field mt-2">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="field mt-2">
    <%= form.label :registration_number, class: "form-label" %>
    <%= form.text_field :reg_no, class: "form-control" %>
  </div>    

  <div class="field mt-2">
    <%= form.label :mobile_number, class: "form-label" %>
    <%= form.text_field :mobile_number, class: "form-control" %>
  </div>

  <div class="field mt-2">
    <%= form.label :role_id, class: "form-label" %>
    <%= form.collection_select :role_id, Role.all, :id, :name, {:include_blank => ' -- Select -- '}, {:class => 'form-control'} %>
  </div>

  <div class="field mt-2">
    <%= form.label :batch_id %>
    <%= form.collection_select :batch_id, current_user.college.batches, :id, :year, {:include_blank => ' -- Select -- '}, {:class => 'form-control slim-select'} %>
  </div>

  <div class="field mt-2">
    <%= form.label :regulation_id %>
    <%= form.collection_select :regulation_id, current_user.college.regulations, :id, :code, {:include_blank => ' -- Select -- '}, {:class => 'form-control slim-select'} %>
  </div>

  <div class="field mt-2">
    <%= form.label :department_id %>
    <%= form.collection_select :department_id, current_user.college.departments, :id, :name, {:include_blank => ' -- Select -- '}, {:class => 'form-control slim-select'} %>
  </div>

  <div class="field mt-2">
    <%= form.label :new_password, class: "form-label" %>
    <br>
    <small>After updation use the new password to login</small>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="field mt-2">
    <%= form.label :new_password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary mt-2" %>
  </div>
  
<% end %>
