<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Roll number</th>
            <th>Name</th>
            <th>Mobile number</th>
            <th>Batch</th>
            <th>Regulation</th>
            <th>Department</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <% users.each do |user| %>
            <tr>
            <td><%= user.reg_no %></td>
            <td><%= user.name %></td>
            <td><%= user.mobile_number %></td>
            <td><%= @batches[user.batch_id.to_i]&.first&.year %></td>
            <td><%= @regulations[user.regulation_id.to_i]&.first&.code %></td>
            <td><%= @departments[user.department_id.to_i]&.first&.short_form %></td>
            <td><%= link_to 'Update', edit_user_path(user) %></td>
            <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>