
<%= link_to 'New User', new_user_path, class: "btn btn-primary mt-3" %>

<%= render 'users/search_form', q: @q %>

<div class="card mt-2">
  <h5 class="card-header">Admins</h5>
  <div class="card-body">
    <%= render 'users/admins_table', users: @admins %>
    <%= will_paginate(@admins, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>


<div class="card mt-2">
  <h5 class="card-header">Faculty</h5>
  <div class="card-body">
  <%= render 'users/faculties_table', users: @faculties %>
  <%= will_paginate(@faculties, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>


<div class="card mt-2">
  <h5 class="card-header">Students</h5>
  <div class="card-body">
  <%= render 'users/students_table', users: @students %>
  <%= will_paginate(@students, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>

