
<%= link_to 'New User', new_user_path, class: "btn btn-primary mt-3" %>

<% @role_wise_users.each do |role_id, users| %>
  <div class="card mt-3">
    <h5 class="card-header"><%= @roles[role_id] %> List</h5>
    <div class="card-body">
      <% if role_id == '1' %>
        <%= render 'users/admins_table', users: users %>
      <% elsif role_id == '2' %>
        <%= render 'users/students_table', users: users %>
      <% elsif role_id == '3' %>
        <%= render 'users/faculties_table', users: users %>
      <% end %>
    </div>
  </div>
<% end %>