<%= form_with(model: department) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% department.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-2">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter the department name" %>
  </div>

  <div class="field mt-2">
    <%= form.label :short_form, class: "form-label" %>
    <%= form.text_field :short_form, class: "form-control", placeholder: "Enter the department short form" %>
  </div>

  <div class="field mt-2">
    <%= form.label :code, class: "form-label" %>
    <%= form.text_field :code, class: "form-control", placeholder: "Enter the department code" %>
  </div>

  <div class="actions mt-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
