<div class="row d-flex justify-content-center">
    <div class="card text-bg-primary m-2" style="width: 18rem;">
    <div class="card-header">Batches</div>
    <div class="card-body">
        <%= link_to 'New Batch', new_batch_path, class: "btn btn-primary mt-3" %>
        <%= link_to 'View Batches', batches_path, class: "btn btn-primary mt-3" %>
    </div>
    </div>
    <div class="card text-bg-light mb-2" style="max-width: 18rem;">
    <div class="card-header">Departments</div>
    <div class="card-body">
        <%= link_to 'New Department', new_department_path, class: "btn btn-light mt-3" %>
        <%= link_to 'View Departments', departments_path, class: "btn btn-light mt-3" %>
    </div>
    </div>
    <div class="card text-bg-secondary m-2" style="width: 18rem;">
    <div class="card-header">Documents</div>
    <div class="card-body">
        <%= link_to 'New Document', new_document_path, class: "btn btn-secondary mt-3" %>
        <%= link_to 'View Documents', documents_path, class: "btn btn-secondary mt-3" %>
    </div>
    </div>
    <div class="card text-bg-success m-2" style="width: 18rem;">
    <div class="card-header">Notifications</div>
    <div class="card-body">
        <%= link_to 'New Notification', new_notification_path, class: "btn btn-success mt-3" %>
        <%= link_to 'View Notifications', notifications_path, class: "btn btn-success mt-3" %>
    </div>
    </div>
    <div class="card text-bg-danger m-2" style="width: 18rem;">
    <div class="card-header">Regulations</div>
    <div class="card-body">
        <%= link_to 'New Regulation', new_regulation_path, class: "btn btn-danger mt-3" %>
        <%= link_to 'View Regulations', regulations_path, class: "btn btn-danger mt-3" %>
    </div>
    </div>
    <div class="card text-bg-warning m-2" style="width: 18rem;">
    <div class="card-header">Results</div>
    <div class="card-body">
        <%= link_to 'New Result', new_result_path, class: "btn btn-warning mt-3" %>
        <%= link_to 'View Results', results_path, class: "btn btn-warning mt-3" %>
        <%= link_to 'Analysis Results', analysis_results_path, class: "btn btn-warning mt-3" %>
    </div>
    </div>
    <div class="card text-bg-info m-2" style="width: 18rem;">
    <div class="card-header">Subjects</div>
    <div class="card-body">
        <%= link_to 'New Subject', new_subject_path, class: "btn btn-info mt-3" %>
        <%= link_to 'View Subjects', subjects_path, class: "btn btn-info mt-3" %>
    </div>
    </div>
    <div class="card text-bg-dark m-2" style="width: 18rem;">
    <div class="card-header">Users</div>
    <div class="card-body">
        <%= link_to 'New User', new_user_path, class: "btn btn-dark mt-3" %>
        <%= link_to 'View Users', users_path, class: "btn btn-dark mt-3" %>
    </div>
    </div>
</div>