<div class="row d-flex justify-content-center">
    <div class="card text-bg-secondary m-2" style="width: 18rem;">
    <div class="card-header">Documents</div>
    <div class="card-body">
        <%= link_to 'New Document', new_document_path, class: "btn btn-secondary mt-3" %>
        <%= link_to 'View Documents', documents_path, class: "btn btn-secondary mt-3" %>
    </div>
    </div>
    <div class="card text-bg-success m-2" style="width: 18rem;">
    <div class="card-header">Notifications</div>
    <div class="card-body">
        <%= link_to 'New Notification', new_notification_path, class: "btn btn-success mt-3" %>
        <%= link_to 'View Notifications', notifications_path, class: "btn btn-success mt-3" %>
    </div>
    </div>
    <div class="card text-bg-warning m-2" style="width: 18rem;">
    <div class="card-header">Results</div>
    <div class="card-body">
        <%= link_to 'View Results', results_path, class: "btn btn-warning mt-3" %>
    </div>
    </div>
</div>