<%= form_tag results_path, :method => 'get', class: "d-flex" do %>
  <%= text_field_tag :search, params[:search], :placeholder => "Enter roll number", class: "form-control me-2" %>
  <%= submit_tag "Search Results", class: "btn btn-outline-success", :name => nil %>
<% end %>

<% @semester_wise_results.each do |semester_id, results| %>
  <div class="card mt-3">
    <h5 class="card-header"><%= @semesters[semester_id] %></h5>
    <div class="card-body">
      <%= render 'results/results_table', results: results %>
    </div>
  </div>
<% end %>


