<%= form_with(model: regulation) do |form| %>
  <% if regulation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(regulation.errors.count, "error") %> prohibited this regulation from being saved:</h2>

      <ul>
        <% regulation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-2">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter the regulation ex: regulation 20" %>
  </div>

  <div class="field mt-2">
    <%= form.label :code, class: "form-label" %>
    <%= form.text_field :code, class: "form-control", placeholder: "Enter the regulation code ex: r20" %>
  </div>

  <div class="field d-none">
    <%= form.label :college_id %>
    <%= form.text_field :college_id, value: current_user.college_id %>
  </div>

  <div class="field d-none">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>

  <div class="actions mt-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
