<%= form_with(model: document) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field mt-3">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="field mt-3">
    <%= form.label :department_id, class: "form-label" %>
    <%= form.collection_select :department_id, Department.where('college_id = ?', current_user.college.id), :id, :short_form, {:include_blank => ' -- Select -- '}, {:class => 'form-control'} %>
  </div>

  <div class="field mt-3">
    <%= form.label :regulation_id, class: "form-label" %>
    <%= form.collection_select :regulation_id, Regulation.where('college_id = ?', current_user.college.id), :id, :code, {:include_blank => ' -- Select -- '}, {:class => 'form-control'} %>
  </div>

  <div class="field mt-3">
    <%= form.label :semester_id, class: "form-label" %>
    <%= form.collection_select :semester_id, Semester.all, :id, :sem, {:include_blank => ' -- Select -- '}, {:class => 'form-control'} %>
  </div>

  <div class="field mt-3">
    <%= form.label :subject_id, class: "form-label" %>
    <%= form.collection_select :subject_id, Subject.where('college_id = ?', current_user.college.id), :id, :name, {:include_blank => ' -- Select -- '}, {:class => 'form-control'} %>
  </div>

  <div class="field d-none">
    <%= form.label :college_id %>
    <%= form.text_field :college_id, value: current_user.college.id %>
  </div>


  <div class="field d-none">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>

  <div class="field mt-3">
    <%= form.label :file, class: "form-label" %>
    <%= form.file_field :file, class: "form-control" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit class: "btn btn-primary mt-3" %>
  </div>
<% end %>
