<%= form_with(model: subject) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-2">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter the subject name" %>
  </div>

  <div class="field mt-2">
    <%= form.label :code, class: "form-label" %>
    <%= form.text_field :code, class: "form-control", placeholder: "Enter the subject code" %>
  </div>

  <div class="field mt-2">
    <%= form.label :regulation_id, class: "form-label" %>
    <%= form.collection_select :regulation_id, current_user.regulations.all, :id, :code, {:include_blank => ' -- Select -- '}, {:class => 'form-control'} %>
  </div>
  
  <div class="field d-none">
    <%= form.label :college_id %>
    <%= form.text_field :college_id, value: current_user.college_id %>
  </div>

  <div class="actions mt-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
