<%= link_to 'New Subject', new_subject_path, class: 'btn btn-primary' %>

<div class="card mt-3">
  <h5 class="card-header">Subjects</h5>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Regulation</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @subjects.each do |subject| %>
          <tr>
            <td><%= subject.name %></td>
            <td><%= subject.code %></td>
            <td><%= subject.regulation.code %></td>
            <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
            <td><%= link_to 'Delete', subject_path(subject), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
