<%= form_with(model: batch) do |form| %>
  <% if batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
        <% batch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-2">
    <%= form.label :year, class: "form-label" %>
    <%= form.text_field :year, class: "form-control", placeholder: "Enter the batch ex: 2019-2023" %>
  </div>

  <div class="field d-none">
    <%= form.label :college_id %>
    <%= form.text_field :college_id, value: current_user.college_id %>
  </div>


  <div class="field d-none">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>

  <div class="actions mt-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
