<nav class="navbar bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 p-3" do %>
        <%= image_tag('apnacollege_logo.png', class: "rounded-circle", style: "width: 40px;") %>
        <%= "ApnaCollege" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <% if user_signed_in? %>
            <div class="container">
                <div class="row">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Welcome <%=  current_user.email %> </h5>
                </div>
                <div class="row">
                    <small><%= current_user.college.name %></small>
                    <small><%= current_user.role.name %></small>
                </div>
            </div>
        <% else %>
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <% if user_signed_in? && current_user.is_admin? %>
                <li class="nav-item">
                    <%= link_to 'Batches', batches_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Departments', departments_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Documents', documents_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Notifications', notifications_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Regulations', regulations_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Results', results_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Subjects', subjects_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Users', users_path, class: "nav-link" %>
                </li>

            <% elsif user_signed_in? %> 
                <li class="nav-item">
                    <%= link_to 'Documents', documents_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Notifications', notifications_path, class: "nav-link" %>
                </li>
                
                <li class="nav-item">
                    <%= link_to 'Results', results_path, class: "nav-link" %>
                </li>

            <% else %>
                <li class="nav-item">
                    <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
                </li>
            <% end %>

            <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>